<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcy.mapper.UserMapper" >


  <sql id="selectUser">
    select * from user
  </sql>

  <!-- 通过email检查是否存在-->
  <select id="validEmail" resultType="int" parameterType="string">
        select count(1) from user where email = #{email}
  </select>


  <select id="selectUserByEmail" resultType="com.xcy.pojo.User" parameterType="string">
        <include refid="selectUser" />
         where email = #{email}
  </select>

  <select id="login" resultType="int">
    select count(1) from user where email = #{email} and password = #{password};
  </select>

  <select id="selectMyAttention" parameterType="int" resultType="integer">
    select focused from attention where attention = #{id}
  </select>

  <select id="selectMyFocused" parameterType="int" resultType="integer">
    select attention from attention where focused = #{id}
  </select>


  <select id="selectMyAttentionUser" resultType="com.xcy.pojo.User" parameterType="integer">
    <include refid="selectUser" />
    <foreach item="item" index="index" collection="array"
             open="WHERE ID in(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectMyFocusedUser" resultType="com.xcy.pojo.User" parameterType="integer">
    <include refid="selectUser" />
    <foreach item="item" index="index" collection="array"
             open="WHERE ID in(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectUserById" resultType="com.xcy.pojo.User" parameterType="int">
    <include refid="selectUser" />
      where id = #{id}
  </select>


  <select id="myNotReadSystemMessage" resultType="com.xcy.pojo.Information" parameterType="int">
    select * from information where recipients = 0 and addresser = #{addresser} and status = 0
  </select>

  <select id="myReadSystemMessage" resultType="com.xcy.pojo.Information" parameterType="int">
    select * from information where recipients = 0 and addresser = #{addresser} and status = 1
  </select>

  <select id="myReadUserMessage" resultType="com.xcy.pojo.Information" parameterType="int">
    select * from information where recipients > 0 and addresser = #{addresser} and status = 1
  </select>

  <select id="myNotReadUserMessage" resultType="com.xcy.pojo.Information" parameterType="int">
    select * from information where recipients > 0 and addresser = #{addresser} and status = 0
  </select>
  <select id="selectMyMateById" resultType="com.xcy.pojo.Mate" parameterType="int">
    select * from choosermate where id = {id}
  </select>


  <select id="selectUserByMate" resultType="com.xcy.pojo.User" parameterType="com.xcy.pojo.Mate">
    select * from user
    <trim prefix="where" suffixOverrides="and">
      <if test="#{sex} != null">
        sex = #{sex} and
      </if>
      <if test="#{minHeight} != null">
        heights > #{minHeight} and
      </if>
      <if test="#{maxHeight} != null">
        #{maxHeight} > heights and
      </if>
      <if test="#{maxAge} != null">
        #{maxAge} > age and
      </if>
      <if test="#{minAge} != null">
        age > #{minAge} and
      </if>
      <if test="#{income} != null">
        income = #{income} and
      </if>
      <if test="#{address} != null">
        address like #{address}"*" and
      </if>
      <if test="#{marry} != null">
        marry = #{marry} and
      </if>
      <if test="#{eduinfo} != null">
        eduinfo = #{eduinfo} and
      </if>
    </trim>
  </select>



  <insert id="register" parameterType="com.xcy.pojo.User">
     insert into user(id,email,password) values (null,#{email},#{password})
  </insert>

  <insert id="apply" parameterType="int">
    insert into hotlistanduser(userId,hotlistId,role) value(#{userId},#{hotlistId},0)
  </insert>
    <insert id="sendMessage" parameterType="com.xcy.pojo.Information">
        insert into information(recipients,addresser,content,sendTime,status) value (#{recipients},#{addresser},#{content},now(),0)
    </insert>

  <insert id="addUserMate" parameterType="com.xcy.pojo.Mate">
        insert into information value (#{id},#{sex},#{minHeight},#{maxHeight},#{maxAge},#{minAge},#{income},#{address},#{marry},#{eduinfo},#{characters})
  </insert>

  <update id="resetPassword" parameterType="com.xcy.pojo.User">
    update user set password = #{password} where email = #{email};
  </update>

  <update id="updateApplyNum" parameterType="int">
    update hotlist set usernum = usernum + 1 where id = #{hoslistId} and sumuser > usernum
  </update>

  <update id="readMessage" parameterType="int">
    update information set status = 1 where id = #{id}
  </update>

  <update id="updateUserInfo" parameterType="com.xcy.pojo.User">
    update user
    <trim prefix="set" suffixOverrides=",">
    <if test="#{headportrait} != null">
        headportrait = #{headportrait},
    </if>
    <if test="#{username} != null">
      username = #{username},
    </if>
    <if test="#{sex} != null">
      sex = #{sex},
    </if>
    <if test="#{age} != null">
      age = #{age},
    </if>
    <if test="#{heights} != null">
      heights = #{heights},
    </if>
    <if test="#{weights} != null">
      weights = #{weights},
    </if>
    <if test="#{constellation} != null">
      constellation = #{constellation},
    </if>
    <if test="#{blood} != null">
      blood = #{blood},
    </if>
    <if test="#{nation} != null">
      nation = #{nation},
    </if>
    <if test="#{eduinfo} != null">
      eduinfo = #{eduinfo},
    </if>
    <if test="#{job} != null">
      job = #{job},
    </if>
    <if test="#{income} != null">
      income = #{income},
    </if>
    <if test="#{address} != null">
      address = #{address},
    </if>
    <if test="#{marry} != null">
      marry = #{marry},
    </if>
    <if test="#{characters} != null">
      characters = #{characters},
    </if>
    <if test="#{monologue} != null">
      monologue = #{monologue},
    </if>
    <if test="#{hobbies} != null">
      hobbies = #{hobbies},
    </if>
      <if test="#{house} != null">
        house = #{house},
      </if>
  </trim>
    where id = #{id}
  </update>

  <update id="updateUserMate" parameterType="com.xcy.pojo.Mate">
    update choosemate
    <trim prefix="set" suffixOverrides=",">
      <if test="#{sex} != null">
        sex = #{sex},
      </if>
      <if test="#{minHeight} != null">
        minHeight = #{minHeight},
      </if>
      <if test="#{maxHeight} != null">
        maxHeight = #{maxHeight},
      </if>
      <if test="#{maxAge} != null">
        maxAge = #{maxAge},
      </if>
      <if test="#{minAge} != null">
        minAge = #{minAge},
      </if>
      <if test="#{income} != null">
        income = #{income},
      </if>
      <if test="#{address} != null">
        address = #{address},
      </if>
      <if test="#{marry} != null">
        marry = #{marry},
      </if>
      <if test="#{eduinfo} != null">
        eduinfo = #{eduinfo},
      </if>
      <if test="#{characters} != null">
        characters = #{characters},
      </if>
    </trim>
    where id = #{id}
  </update>
</mapper>