<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcy.mapper.UserMapper" >


  <sql id="selectUser">
    select u.*,m.marrys from user u left join maryy m where u.marryId = m.id
  </sql>

  <!-- 通过email检查是否存在-->
  <select id="validEmail" resultType="int" parameterType="string">
        select count(1) from user where email = #{email}
  </select>


  <select id="selectUserByEmail" resultType="com.xcy.pojo.User" parameterType="string">
        <include refid="selectUser" />
         and u.email = #{email}
  </select>

  <select id="login" resultType="int">
    select count(1) from user where email = #{email} and password = #{password};
  </select>

  <select id="selectMyAttention" parameterType="int" resultType="integer">
    select focused from attention where attention = #{id}
  </select>

  <select id="selectMyFocused" parameterType="int" resultType="integer">
    select attention from attention where focused = #{id}
  </select>


  <select id="selectMyAttentionUser" resultType="com.xcy.pojo.User" parameterType="integer">
    <include refid="selectUser" />
    <foreach item="item" index="index" collection="array"
             open="WHERE ID in(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectMyFocusedUser" resultType="com.xcy.pojo.User" parameterType="integer">
    <include refid="selectUser" />
    <foreach item="item" index="index" collection="array"
             open="WHERE ID in(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <!--  通过id删除整行数据  -->
  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from user
    where id = #{id}
  </delete>


  <insert id="register" parameterType="com.xcy.pojo.User">
     insert into user(id,email,password) values (null,#{email},#{password})
  </insert>

  <update id="resetPassword" parameterType="com.xcy.pojo.User">
    update user set password = #{password} where email = #{email};
  </update>
</mapper>